body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-size: calc(9px + .5vmin);
}

label {
    display: inline-block;
    margin: 4px;
}

label > input {
    max-width: 20vmin;
    font-size: calc(9px + .4vmin);
    max-height: calc(9px + .5vmin)
}

label > button {
    font-size: calc(9px + .4vmin);
}

.container {
    /*min-width: 800px;*/
    margin: 10%;
    margin-top: 2%;
}

.chart {
    min-height: 10px;
    height: 80vh;
    width: 100%;
    border: 3px solid #DDD;
    border-radius: 3px;
    position: relative;
    margin: 8px auto;
    display: inline-block;
}

.controls {
    display: block;
    float: top;
}

.node {
    color: #9CB5ED;
    border: 2px solid #C8C8C8;
    border-radius: 50%;
    padding: 5px;
    min-width: 20px;
    text-align: center;
}

.node p {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    font-weight: bold;
    padding: 3px;
    margin: 0;
}

.node.black {
	color: white;
	background-color: rgba(0,0,0,0.6);
}

.node.red {
	color: black;
	background-color: rgba(255,0,0,0.6);
}